.rodape{
    background-color: #0d384c;
    color: white;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nomeLogo{
    max-width: 250px;
    align-items: center;
    justify-content: center;
    max-width: 380px; 
    flex-basis: 280px;
    text-align: left;
    display: flex;
    min-height: 180px;
    padding: 35px 0;
}

.instagran{
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkedin{
    display: flex;
    align-items: center;
    gap: 10px
}

.contato{
    display: flex;
    align-items: center;
    gap: 10px;
}

.telefone{
    display: flex;
    align-items: center;
    gap: 10px;
}

.informacoes{
    display: flex;
    flex-direction: column;
}
.link {
    color: #e6e6e6;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s ease;
    font-family: "Poppins", sans-serif;
}

.redes{
    font-size: 2.0rem;
    font-weight: bold;
    color: rgb(255, 81, 0);
}

.logo img{
    width: 500px;
    height: 100%;
    align-items: center;
    display: flex;
}

.nav{
    font-size: 2.0rem;
    font-weight: bold;
    color: rgb(255, 81, 0);
}

.nomeEndereco{
    font-size: 2.0rem;
    font-weight: bold;
    color: rgb(255, 81, 0);
}

.navegacao{
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.informacoes{
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.endereco{
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.endereco p{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.importante{
    display: flex;
    gap: 40px;
    align-items: flex-start;
    text-decoration: none;
    color: white;
}