.navbar {
    display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(12, 56, 69, 1);
	color: rgb(0, 0, 0);
	width: 100%;
	height: 95px;
	padding: 0 30px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 100;
}