.navbar {
    display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #0d384c;
	color: rgb(0, 0, 0);
	width: 100%;
	height: 65px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 100;
}

.navbarActions{
	display: flex;
	gap: 15px;
	align-items: center;
}

.actionButton{
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: 500;
	transition: all 0.3s ease;
	display: inline-block;
}

.actionButton:hover {
    background-color: rgb(230, 85, 35);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.loginButton{
	background-color: rgb(250, 101, 46);
	color: white;
}

.signupButton{
	background-color: rgb(250, 101, 46);
	color: white;
}

.navList{
	list-style: none;
	display: flex;
	gap: 30px;
	align-items: center;
	color: white;
}

.navList a {
	text-decoration: none;
	color: white;
}

.navList a:hover {
    opacity: 0.7;
}

.logo img{
    height: 45px;
    width: auto;
    display: block;
	padding-left: 5px;
}

.navLeft{
    display: flex;
    align-items: center;
    gap: 80px;
}

