.buttoncontainer {
    display: flex;
    flex: 0.5;
    height: 100%;
    max-width: 150px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    border: none;
    height: 100%;
   
    align-items: center;
    background: #ffbb33;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}



.button:hover {
    background-color: white;
}