.card{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(218, 217, 217);
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 5px;
    margin-bottom: 100px;
}

.card img{
    width: 130px; 
    height: 130px;
    margin-right: 35px;
}

.tituloDescricao{
    flex-grow: 1;
    margin-right: 20px;
}

.tituloDescricao h1{
    font-size: 1.25rem;
    color: #ff5722;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.tituloDescricao p {
    font-size: 0.9rem;
    color: #333;
    margin: 0;
    line-height: 1.4;
}

.botao{
    align-self: flex-end;
    margin-top: auto;
    margin-right: 0;
    flex-shrink: 0;
}

.button {
    padding: 5px 10px;
    background-color: #ff5722; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.85rem; 
}

.button:hover {
    background-color: #e64a19; 
}