.card {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #eeeeee;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  margin-top: 5px;
  margin-bottom: 100px;

  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.04),
    0 8px 20px rgba(16, 24, 40, 0.08);
}

.card img {
  width: 130px;
  height: 130px;
  margin-right: 35px;
}

.tituloDescricao {
  flex-grow: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.tituloDescricao h1 {
  font-size: 1.25rem;
  color: #ff5722;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.tituloDescricao p {
  font-size: 0.9rem;
  color: #333;
  margin: 0;
  line-height: 1.4;
  text-align: left;
}

.botao {
  align-self: flex-end;
  margin-top: auto;
  margin-right: 0;
  flex-shrink: 0;
}

.button {
  padding: 5px 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 0.85rem;
}

.button:hover {
  background-color: #e64a19;
}
