html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif; /* moderna e legível */
	background-color: #ffffff;
	color: #fff;
}

.homeContainer {
    width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: auto;
}