html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #fff;
  overflow-x: hidden;
}

.homeContainer {
  width: 100%;
  min-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .homeContainer {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .homeContainer {
    min-height: calc(100vh - 65px);
    padding: 8px 12px;
  }
  .homeContainer h1 {
    font-size: 2rem;
  }
}
