.servicosContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conhecerContainer {
    display: flex;
    flex-direction: column;
    width: 90%;                 
    max-width: 1100px;         
    padding: 5vh 2vw;
    margin-top: 2%;
    text-align: center;
}

.conhecerContainer h1 {
    font-size: clamp(2rem, 4vw, 2.6rem);
    margin-bottom: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #E65E0D;
}

.conhecerContainer p {
    font-size: clamp(1rem, 1.6vw, 1.5rem);
    font-family: "Urbanist", sans-serif;
    color: #0C3845;
}

.servicosList {
    display: flex;
    flex-direction: column;
    width: 90%;                     
    max-width: 1100px;              
    padding: 5vh 2vw;
    margin-bottom: 80px;
    gap: 6vh;
    
    background-color: #F1F1F1;
    color: #0C3845;
    align-items: center;
}

.servicoItem {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
    max-height: 480px;
    width: 100%;
    align-items: stretch;
}

.servicoTexto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: auto;
}

.servicoTexto h1 {
    font-size: clamp(1.8rem, 2.4vw, 2.5rem);
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #0C3845;
}

.servicoTexto p {
    font-size: clamp(1rem, 1.4vw, 1.4rem);
    font-family: "Urbanist", sans-serif;
    color: #0C3845;
    text-align: left;
}


.servicosImage {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.servicoItem.inverter-ordem {
    flex-direction: row-reverse !important;
}

@media (max-width: 768px) {
    .servicosList {
        width: 95%;
        padding: 40px 10px;
    }

    .servicoItem {
        flex-direction: column;
        max-height: none;
    }

    .servicoTexto {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .servicosImage {
        width: 100%;
        max-height: 320px;
    }
}
